body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(./noelle.jpg) no-repeat;
    background-size: cover;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 5);
    border-radius: 10px;
}

.box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    background: transparent;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0 10px 10px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
    /* padding-left: 10px; */
}

.box .inputBox input:focus~label,
.box .inputBox input:valid~label {
    top: -25px;
    /* bottom: ; */
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.box .input {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    cursor: pointer;
    border-radius: 5px;
}

.btn {
    /* background: transparent; */
    width: 50px;
    height: 28px;
    background-color: #18adf1;
    border: 10px;
    border-radius: 4px;
    padding-right: 50px;
    border: 1.5px solid #ffffff;
}